{% for list in page.listings %}
<div class="col-3  p-0 listing mx-2">
    <div class="d-flex w-100 justify-content-between py-2 px-0 list-header">

        <div class="row col-12 align-items-center flex-nowrap">

            {# Title #}
            <div class="col-9 p-0 h5container">
                <h5 class="mb-1 col-12 p-2">{{ list.title }}</h5>
            </div>
            
            {# Dropdown #}
            <div class="dropdown col-3">
                <a class="btn btn-dark dropdown-toggle p-2" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-tools"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item">Ajouter lien</a></li>
                    <li><a class="dropdown-item" data-toggle="modal" data-target="#listingModal">Créer liste</a></li>
                    <li><a class="dropdown-item">Éditer liste</a></li>
                    <li><a class="dropdown-item" data-toggle="modal" data-target="#deleteListingModal" data-list-id="{{ list.id }}">Supprimer liste</a></li>
                </ul>
            </div>
        </div>

    </div>

    <ul class="list-group">
        {% for item in list.items %}
        <li class="list-group-item d-flex justify-content-between align-items-center p-2">
            <div class="col-9">
                <a href="{{ item.url }}" target="_blank">{{ item.title }}</a>
            </div>
            
            <div class="col-3 p-0 d-flex justify-content-around">
                <a href="#"><i class="fas fa-tools"></i></i></a>
                <a href="#"><i class="fas fa-arrow-up"></i></a> 
                <a href="#"><i class="fas fa-arrow-down"></i></a>
            </div>

        </li>
        {% else %}
        <li class="list-group-item d-flex justify-content-between align-items-center p-2">
            Aucun élément trouvé
        </li>
        {% endfor %}
    </ul>
</div>
{% else %}
    <p>Aucun élément trouvé</p>
{% endfor %}