{% extends 'base.html.twig' %}

{% block title %}Modification Page{% endblock %}

{% block body %}
    <h1 class="col-12">Modification Page</h1>

    {{ include('page/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
