{% extends 'base.html.twig' %}

{% block title %}{{ Constant.PAGE_UPDATE_TITLE }}{% endblock %}

{% block body %}
    <h1 class="col-12 text-light text-center">{{ Constant.PAGE_UPDATE_TITLE }}</h1>

    {{ include('page/_form.html.twig') }}

{% endblock %}
