{% extends 'base.html.twig' %}

{% block title %}Création Page{% endblock %}

{% block body %}
    <h1 class="col-12">Création Page</h1>

    {{ include('page/_form.html.twig') }}

    <p class="col-12 text-center">
        <a href="{{ path('page_index') }}" class="d-block col-12 my-3">Retour à la liste</a>
    </p>
{% endblock %}
