{% extends 'base.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block body %}
    <section class="col-12 m-0 p-0" data-page-id="{{ page.id }}">
        <h1 class="col-12">{% include('listing/_form_modal.html.twig') %} {{ page.title }}</h1>

        <div class="col-12 mx-auto m-0 p-0" id="loaderContainer">
                <div class="loader-circle mx-auto mt-5"></div>
        </div>
        <div class="row col-12 flex-nowrap m-0 p-0" id="listContainer">

        </div>
    </section>


{% endblock %}
