a {
    color: black;
    cursor: pointer;
}

body {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

table.table {
    background-color: #FFFFFF;
}

form {
    padding: 1.5rem;
    background-color: #FFFFFF;
}

#flashMessages {
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width: 350px;
    height: 50px;
    margin: 5rem auto;
    z-index: 10;
}

/* Variables CSS */
:root {
    --main-bg-color: #141e28;
    --second-bg-color-spinner: #afd7f5;
    --container-default-height: 82vh;
}