.loader-circle {
    width: 350px;
    height: 350px;
    border: 15px solid;
    border-color: var(--main-bg-color) var(--second-bg-color-spinner);
    border-radius: 50%;
    animation: spin 1.5s infinite linear;
    position: fixed;
    margin: 4rem auto;
    left: 0;
    right: 0;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}