#loaderContainer {
    display: grid;
    place-items: center;
    height: 100vh;
    opacity: 0.5;
}

.loader-circle {
    width: 350px;
    height: 350px;
    border: 15px solid;
    border-color: #E6AF2E #1B998B;
    border-radius: 50%;
    animation: spin 1.5s infinite linear;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}