#listContainer {
    height: 82vh;
    overflow: auto;
}

#listContainer ul li a {
    color: rgb(44, 42, 70);
}

.list-header {
    background-color: #428bca;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.list-group .list-group-item {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.listing {
    min-width: 200px;
    max-width: 300px;
}

.h5container {
    overflow: hidden;
}