#listContainer {
    height: var(--container-default-height);
    overflow: auto;
}

#listContainer ul li a {
    color: var(--main-bg-color);
}

.list-header {
    background-color: var(--main-bg-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.menu-header {
    background-color: var(--main-bg-color);
}

.menu-header .dropdown-toggle {
    padding: 0.2rem;
}

.list-group .list-group-item {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.list-group .list-group-item div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.listing {
    min-width: 200px;
    max-width: 350px;
}

.h5container {
    overflow: hidden;
}