{% extends 'base.html.twig' %}

{% block title %}{{ Constant.USER_NEW_LABEL }}{% endblock %}

{% block body %}

        <h1 class="text-dark mx-auto mt-3">{{ Constant.FORGOT_PASSWORD }}</h1>
        {{ include('user/_form.html.twig') }}

{% endblock %}
